<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dashboard Super User</title>
  <link rel="stylesheet" href="/css/style-dashboard.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

  <body>
    <div class="wrapper">
      <div class="mynavbar">
        <header>
          <span></span>
          <%= userNama %>
            <a></a>
        </header>
        <ul>
          <li><span>Navigation</span></li>
          <li><a class="active" href="/dashboard">Dashboard</a></li>
          <li><a href="/userplayer">User</a></li>
          <li><a href="/history">Battle History</a></li>
          <li><span>Other</span></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>

      <main>
        <h1>Challenge Chapter 7 - Binar Academy</h1>
        <div class="flex-grid">
          <div>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Biodata <b>Player</b></h2>
                </div>
                <div class="col-sm-4">
                  <a href="/userplayer/add" class="btn btn-info add-new">Add New</a>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Foto</th>
                  <th>Nama</th>
                  <th>Email</th>
                  <th>Alamat</th>
                  <th>No telpon</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% let nomor=1; %>
                  <% userBio.forEach(i=> { %>
                    <tr>
                      <td>
                        <%= nomor %>
                      </td>
                      <td>
                        <img src="<%= i.urlFoto %>" alt="" height="50" </td>
                      <td>
                        <%= i.namaLengkap %>
                      </td>
                      <td>
                        <%= i.email %>
                      </td>
                      <td>
                        <%= i.alamat %>
                      </td>
                      <td>
                        <%= i.noTelpon %>
                      </td>
                      <td>
                        <a class="edit" href="/userplayer/update/<%= i.id %>" title="Edit" data-toggle="tooltip"><i
                            class="material-icons">&#xE254;</i></a>
                        <a class="delete" href="/userplayer/delete/<%= i.id %>" title="Delete" data-toggle="tooltip"><i
                            class="material-icons">&#xE872;</i></a>
                      </td>
                    </tr>
                    <% nomor++ %>
                      <% }) %>

              </tbody>
            </table>

          </div>

        </div>

        <div class="flex-grid">
          <div>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Daftar <b>SuperUser</b></h2>
                </div>
                <div class="col-sm-4">
                  <a href="/superuser/add" class="btn btn-info add-new">Add New</a>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <% let no=1; %>
                  <% superUser.forEach(j=> { %>
                    <tr>
                      <td>
                        <%= no %>
                      </td>
                      <td>
                        <%= j.username %>
                      </td>
                      <td>
                        <%= j.password %>
                      </td>
                      <td>
                        <a class="edit" href="/superuser/update/<%= j.id %>" title="Edit" data-toggle="tooltip"><i
                            class="material-icons">&#xE254;</i></a>
                        <a class="delete" href="/superuser/delete/<%= j.id %>" title="Delete" data-toggle="tooltip"><i
                            class="material-icons">&#xE872;</i></a>
                      </td>
                    </tr>
                    <% no++ %>
                      <% }) %>

              </tbody>
            </table>
          </div>
        </div>
        <div class="flex-grid">
          <div>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Daftar <b>Player</b></h2>
                </div>
                <div class="col-sm-4">
                  <a href="/userplayer/add" class="btn btn-info add-new">Add New</a>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Level</th>
                  <th>Cash</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% let x=1; %>
                  <% userGame.forEach(k=> { %>
                    <tr>
                      <td>
                        <%= x %>
                      </td>
                      <td>
                        <%= k.username %>
                      </td>
                      <td>
                        <%= k.level %>
                      </td>
                      <td>
                        Rp. <%= k.cash %>
                      </td>
                      <td>
                        <a class="edit" href="/userplayer/update/<%= k.id %>" title="Edit" data-toggle="tooltip"><i
                            class="material-icons">&#xE254;</i></a>
                        <a class="delete" href="/userplayer/delete/<%= k.id %>" title="Delete" data-toggle="tooltip"><i
                            class="material-icons">&#xE872;</i></a>
                      </td>
                    </tr>
                    <% x++ %>
                      <% }) %>

              </tbody>
            </table>
          </div>


        </div>

      </main>

    </div>
    <script src="js/dashboard.js"></script>

  </body>

</html>