<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Battle History</title>
  <link rel="stylesheet" href="/css/style-dashboard.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

  <body>
    <div class="wrapper">

      <div class="mynavbar">
        <header>
          <span></span>
          <%= userNama %>
            <a></a>
            <a></a>
        </header>
        <ul>
          <li><span>Navigation</span></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/userplayer">User</a></li>
          <li><a class="active" href="/history">Battle History</a></li>
          <li><span>Other</span></li>
          <li><a href="/logout">Logout</a></li>
        </ul>

      </div>

      <main>

        <h1>Challenge Chapter 7 - Binar Academy</h1>

        <div class="flex-grid">
          <div>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Battle <b>History</b></h2>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Id Battle</th>
                  <th>Nama Player</th>
                  <th>Result Game</th>
                  <th>Skor</th>
                </tr>
              </thead>
              <tbody>
                <% let y=1; %>
                  <% userHistory.forEach(k=> { %>
                    <tr>
                      <td>
                        <%= y %>
                      </td>
                      <td>
                        <%= k.idBattlle %>
                      </td>
                      <td>
                        <%= k.namaPlayer %>
                      </td>
                      <td>
                        <div class="<%= k.resultGame %>"></div>
                      </td>
                      <td>
                        <%= k.skor %>
                      </td>
                    </tr>
                    <% y++ %>
                      <% }) %>

              </tbody>
            </table>
          </div>



        </div>



      </main>

    </div>
    <script src="js/dashboard.js"></script>

  </body>

</html>