<% if (messages .error) { %>
<h5><%= messages.error %></h5>
<% } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style-login.css" />
  </head>
  <body>
    <div class="container">
      <section id="content">
        <form action="/login" method="POST">
          <h1>Login Form</h1>
          <div>
            <input
              type="text"
              placeholder="Username"
              required=""
              id="username"
              name="username"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Password"
              required=""
              id="password"
              name="password"
            />
          </div>
          <div>
            <input type="submit" value="Log in" />
          </div>
        </form>
        <h6>don't have an account? <a href="/register">Sign Up</a></h6>
      </section>
    </div>
  </body>
</html>
