<% if (messages .error) { %>
  <h5>
    <%= messages.error %>
  </h5>
  <% } %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="utf-8" />
      <title>Register Form</title>
      <link rel="stylesheet" href="/css/style-register.css" />
    </head>

    <body>
      <div class="container">
        <section id="content">
          <form action="/register" method="POST">
            <h1>Registration Form</h1>
            <div>
              <input type="text" placeholder="Username" required="" id="username" name="username" />
            </div>
            <div>
              <input type="password" placeholder="Password" required="" id="password" name="password" />
            </div>
            <div>
              <input type="submit" value="Sign Up" />
            </div>
          </form>
          <h6>Already have an Account? <a href="/login">Login</a></h6>
        </section>
      </div>
    </body>

    </html>