<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Update Super User</title>
  <link rel="stylesheet" href="/css/style-dashboard.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

  <body>
    <div class="wrapper">

      <div class="mynavbar">
        <header>
          <span></span>
          <%= userNama %>
            <a></a>
        </header>
        <ul>
          <li><span>Navigation</span></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a class="active" href="/userplayer">User</a></li>
          <li><a href="/history">Battle History</a></li>
          <li><span>Other</span></li>
          <li><a href="/logout">Logout</a></li>
        </ul>

      </div>

      <main>

        <h1>Challenge Chapter 7 - Binar Academy</h1>

        <div class="flex-grid">
          <div>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Update <b>SuperUser</b></h2>
                </div>
              </div>
            </div>
            <form class="form-horizontal" action="/superuser/update/<%= superUser.id %>" method="post">
              <div class="form-group">
                <label class="control-label col-sm-2">Username :</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="username" value="<%= superUser.username %>">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Password:</label>
                <div class="col-sm-12">
                  <input type="password" class="form-control" name="password" value="<%= superUser.password %>">
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-info">Submit</button>
                </div>
              </div>
            </form>
          </div>

      </main>

    </div>
    <script src="js/dashboard.js"></script>

  </body>

</html>